<div>
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>
        Eric R WebAppAssignmentMVC_Data_3. SPA with Ajax.<br />
        And now assigment 5 (Using database to store)
    </h4>

    <div>
        <br />
        <P id="actionMessage"></P>
    </div>

    <div class="flexwrap2">
        <div>
            <fieldset id="fieldsetbox">
                <legend id="legbox">JQuery with AJAX functions</legend>
                <input type="button" class="btn btn-primary" onclick="getAllPeople()" value="Fetch all People" />
                <br />
                <label for="IdInput">Person ID (Empty field is 0</label>
                <br />
                <input id="IdInput" type="number" />
                <br />
                <input type="button" class="btn btn-primary" onclick="getPersonByID()" value="Details" />
                <input type="button" class="btn btn-primary" onclick="deletePersonById()" value="Delete" />
            </fieldset>
        </div>
        <div id="jsmessage"></div>
    </div>
    <br />
    <div id="peopleviewlist"></div>

</div>
