<div>
    <h2>@ViewBag.Title</h2>
    <br />
    <h4>Eric R WebAppAssignmentMVC_Data_3. SPA with Ajax.</h4>

    <div>
        <br />
        <P id="actionMessage"></P>
    </div>

    <div class="flexwrap2">
        <div>
            <h3>JQuery with AJAX functions</h3>
                <input type="button" class="btn btn-primary" onclick="getAllPeople()" value="Fetch all People" />
                <br />
                <label for="IdInput">Person ID (Empty field is 0</label>
                <br />
                <input id="IdInput" type="number" />
                <br />
                <input type="button" class="btn btn-primary" onclick="getPersonByID()" value="Details" />
                <input type="button" class="btn btn-primary" onclick="deletePersonById()" value="Delete" />
        </div>
        <div id="jsmessage"></div>
    </div>
    <br />
    <div id="peopleviewlist"></div>

</div>
