@{

}
<div>
    <h2>@ViewBag.Title</h2>
    <br />
    <h3>Here is a list of projects.</h3>
    <ul>
        <li>
            <a href="https://github.com/zedpentium/Front-End--Assignment-4---Sokoban" target="_blank">Box-U-Man(Sokoban)</a>
            <br />This is my version of "Sokoban"-game.
            <br /> I made the game in javascript.
            <br /><br /><br />
        </li>
        <li>
            <a href="https://github.com/zedpentium/Assignment_5_Vending_Machine_EricR" target="_blank">A base for a VendingMachine</a>
            <br />It''s a VS c# Console program.
            <br />It's only a base, to which i have done xUnit testing with'.
        </li>
    </ul>
</div>
