@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityAppUsers> SignInManager
@inject UserManager<IdentityAppUsers> UserManager

<div id="reactactionmessage"></div>
<div id="reactdivcontainer"></div> <!-- react placeholder div /ER -->




