@model CountryViewModel

               <div class="container">
                   <div class="row bg-dark text-light">
                       <div class="col-1">CountryId</div>
                       <div class="col-4">Country</div>
                       <div class="col-4"></div>
                       <div class="col-3">Option</div>
                   </div>
                   @{
                   if (Model != null)
                   {foreach (var country in Model.CountryListView)
                   {
               <div class="row">
                   <div class="col-1">@country.CountryId</div>
                   <div class="col-4">@country.CountryName</div>
                   <div class="col-4"></div>
                   <div class="col-3"><a href="#" onClick="location.href='@Url.Action("DeleteCountry", "Country" , new { id=country.CountryId })'">Delete</a></div>
               </div>
                   }
                   }
                   }
               </div>

