<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="divwrapper">
        <!-- start divwrapper-->

        <header class="item-a">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom" id="navmenubox">
                <a class="navbar-brand text-info" id="menulogo" asp-controller="People" asp-action="Index">
                    <img alt="logo" src="@Url.Content("~/pictures/jrhlogosquare.jpg")">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="People" asp-action="Index">PeopleList</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Add/Delete
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li><a class="dropdown-item" asp-controller="Country" asp-action="Index">Country</a></li>
                                <li><a class="dropdown-item" asp-controller="City" asp-action="Index">City</a></li>
                                <li><a class="dropdown-item" asp-controller="Language" asp-action="Index">Language</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Ajax" asp-action="Index">AjaxView</a>
                        </li>
                        <li class="nav-item">
                            <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>
                        <li class="nav-item">
                            <partial name="_LoginPartial" />
                        </li>
                        <li class="nav-item">
                            @{/* if (User.IsInRole("Admin"))
                                { */}
                                <a class="nav-item" asp-controller="Identity" asp-action="Index">Edit UserRoles</a>


                        </li>
                    </ul>

                </div>
                <div id="actionMessage">@ViewBag.Mess</div>

            </nav>
        </header>

        <div class="item-e">
            @RenderBody()

        </div>


    </div> <!-- end divwrapper-->


    <footer class="item-h">
        <span>&#64;Eric "Zeddan" Rönnhult&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-primary" href="#">Back To Top</a></span>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/bootstrap-5.0.2-dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/ajaxactions.js"></script>

    @if (IsSectionDefined("scripts"))
    {
        RenderSection("scripts");
    }
</body>
</html>