@model Doctor

<p>@ViewBag.Title</p>
<br />

<form asp-action="FeverCheck" method="post" role="form">
    <div class="form-group">
        <div>
            <label asp-for="TempInput">Input whole number Temperature value (no decimals):</label>
            <br />
            <input asp-for="TempInput" type="number" value="" required />
            <br />
            <br />
            <input asp-for="TempType" type="radio" value="C" checked />
            <label asp-for="TempType">Celcius</label>
            <input asp-for="TempType" type="radio" value="F" />
            <label asp-for="TempType">Fahrenheit</label>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" name="btnSubmit" value="Calculate" />
        </div>
    </div>
</form>

<br />
<p>@ViewBag.resultMessage</p>


