@model LanguageViewModel

               <div class="container">
                   <div class="row bg-dark text-light">
                       <div class="col-1">LanguageId</div>
                       <div class="col-4">Language</div>
                       <div class="col-4"></div>
                       <div class="col-3">Option</div>
                   </div>
                   @{
                   if (Model != null)
                   {foreach (var language in Model.LanguageListView)
                   {
               <div class="row">
                   <div class="col-1">@language.LanguageId</div>
                   <div class="col-4">@language.LanguageName</div>
                   <div class="col-4"></div>
                   <div class="col-3"><a href="#" onClick="location.href='@Url.Action("DeleteLanguage", "Language" , new { id=language.LanguageId })'">Delete</a></div>
               </div>
                   }
                   }
                   }
               </div>

